<form [formGroup]="addPostForm">
  <mat-dialog-content>
    <mat-form-field style="width: 100%">
      <textarea matInput
                placeholder="Text"
                formControlName="text">
      </textarea>
    </mat-form-field>

    <div>
      <img mat-card-image *ngIf="postSnippet != null" [src]="postSnippet">
    </div>

    <input type="file"
           (change)="onFileChanged($event)"
           accept="image/jpeg" />
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-raised-button type="submit" (click)="onConfirm()" color="primary" class="btn">Save</button>
    <button mat-button mat-raised-button type="button" (click)="onDecline()">Back</button>
  </mat-dialog-actions>
</form>
