<div class="container">
  <app-nav-menu></app-nav-menu>
  <mat-card class="my-profile-card">
    <mat-card-header>
      <img mat-card-avatar *ngIf="person.image != ''" class="profile-image" [src]="person.image" />
      <mat-card-title>
        {{person.firstName}} {{person.lastName}}
      </mat-card-title>
      <button mat-icon-button style="margin-left: auto;" (click)="addFriend()"
              matTooltip="Add friend">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>

  <app-posts [posts]="posts" [addPosts]="false"></app-posts>

  <mat-spinner *ngIf="!dataLoaded" style="margin:0 auto;"></mat-spinner>
</div>
