.example-card {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.example-header-image {
  background-size: cover;
}

.control-panel {
  position: sticky;
  top: 80px;
}

.fb-share-button{
    float: right;
}
