<div class="container">
  <app-nav-menu></app-nav-menu>
  <mat-card class="my-profile-card">
    <mat-card-header>
      <img mat-card-avatar *ngIf="person.image != ''" class="profile-image" [src]="person.image" />
      <mat-card-title>
        {{person.firstName}} {{person.lastName}}
      </mat-card-title>

      <div style="margin-left:auto;">
        <button mat-icon-button (click)="updateProfile()" matTooltip="Edit profile">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="See friends" (click)="getFriends()">
          <mat-icon>group</mat-icon>
        </button>
      </div>

    </mat-card-header>
  </mat-card>

  <app-posts [posts]="posts"></app-posts>
  <mat-spinner *ngIf="!dataLoaded" style="margin:0 auto;"></mat-spinner>

</div>
