.my-profile-card {
  margin-bottom: 30px;
  background-image: linear-gradient(rgb(63, 81, 181), rgb(63, 81, 181), rgb(0, 255, 208));
  color: white;
}

.profile-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
